<header class="bg-indigo-500">
    <nav class="container mx-auto py-2 px-4 md:px-0">
        <div class="flex items-center">
            <a href="/" class="font-bold text-white text-2xl">EJS</a>

            <div class="space-x-4 ml-8">
                <a href="/" class="text-indigo-200 text-sm font-semibold hover:text-white transition">Home</a>
                <a href="/sobre" class="text-indigo-200 text-sm font-semibold hover:text-white transition">Sobre</a>
            </div>
        </div>
    </nav>
</header>